<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="expo.modules.backgroundshake">
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
  <uses-permission android:name="android.permission.SEND_SMS" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <application>
    <service
        android:name=".ShakeService"
        android:foregroundServiceType="specialUse"
        android:exported="false">
        <property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE" android:value="Emergency shake detection and SMS alerting" />
    </service>
  </application>
</manifest>