# Firebase Configuration
FIREBASE_API_KEY=your_api_key_here
FIREBASE_AUTH_DOMAIN=instaaid-43394.firebaseapp.com
FIREBASE_PROJECT_ID=instaaid-43394
FIREBASE_STORAGE_BUCKET=instaaid-43394.appspot.com
FIREBASE_MESSAGING_SENDER_ID=181830039349
FIREBASE_APP_ID=1:181830039349:web:362845743f479d63e6be7c
FIREBASE_MEASUREMENT_ID=G-PW40B42Q6X

# Backend Settings
PORT=5000
